---
---

<p>
  {% include info/version.html %}
  {% include openapi.html %}
</p>

{% include info/description.html %}

{% include info/termsOfService.html %}

Contact the developer
Apache 2.0
Find out more about Swagger

{% for path in site.data.api.paths %}
  {% for method in path[1] %}
    <div class="card">
      <div class="card-body">
        {% assign include_method = method[0] | upcase %}
        {% include method.html method=include_method %} {{ path[0] }}
      </div>
    </div>
  {% endfor %}
{% endfor %}
