---
---

{% assign api = site.data.openapi %}

<h1>{{ api.info.title | xml_escape }}</h1>


<p>
  <span class="badge badge-secondary">{{ api.info.version }}</span>
  <span class="badge badge-success">OAS{{ api.openapi | slice: 0 }}</span>
</p>


{% if api.info.description %}
  <p class="lead">{{ api.info.description | xml_escape }}</p>
{% endif %}


{% if api.info.termsOfService or api.info.contact or api.info.license or api.externalDocs %}
  <ul class="list-unstyled">
    {% if api.info.termsOfService %}
      <li><a href="{{ api.info.termsOfService }}" target="_blank">Terms of service</a></li>
    {% endif %}
    {% if api.info.contact.name and api.info.contact.url %}
      <li><a href="{{ api.info.contact.url }}" target="_blank">{{ api.info.contact.name }} - Website</a></li>
    {% endif %}
    {% if api.info.contact.email %}
      <li>
        <a href="mailto:{{ api.info.contact.email }}">
          {% if api.info.contact.name %}
            Send email to {{ api.info.contact.name }}
          {% else %}
            Send email to the developer
          {% endif %}
        </a>
      </li>
    {% endif %}
    {% if api.info.license %}
      <li>
        {% if api.info.license.url %}
          <a href="{{ api.info.license.url }}" target="_blank">{{ api.info.license.name }}</a>
        {% else %}
          {{ api.info.license.name }}
        {% endif %}
      </li>
    {% endif %}
    {% if api.externalDocs %}
      <li>
        <a href="{{ api.externalDocs.url }}" target="_blank">
          {% if api.externalDocs.description %}
            {{ api.externalDocs.description }}
          {% else %}
            {{ api.externalDocs.url }}
          {% endif %}
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}


{% if api.servers %}
  <form id="servers">
    <div class="form-group">
      <label class="h6" for="servers-url">Servers</label>
      <select class="form-control" id="servers-url">
        {% for server in api.servers %}
          <option id="servers-{{ forloop.index }}-url">{{ server.url }}</option>
        {% endfor %}
      </select>
    </div>
    {% for server in api.servers %}
      {% if server.variables %}
        <div id="servers-{{ forloop.index }}-url-variables" class="servers-variables{% if forloop.index > 1 %} d-none{% endif %}">
          <div class="form-group">
            <label class="h6" for="servers-{{ forloop.index }}-url-computed">Computed URL</label>
            <input id="servers-{{ forloop.index }}-url-computed" type="text" class="form-control" value="{{ server.url }}" readonly>
          </div>
          <fieldset class="form-group">
            <legend class="h6">Server Variables</legend>
            {% for variable in server.variables %}
              <div class="row mb-2">
                <label for="servers-{{ forloop.index }}-variables-{{ variable[0] }}" class="col col-form-label col-12 col-sm-2">{{ variable[0] }}</label>
                <div class="col col-12 col-sm-10">
                  {% if variable[1].enum %}
                    <select id="servers-{{ forloop.index }}-variables-{{ variable[0] }}" class="form-control">
                      {% for option in variable[1].enum  %}
                        <option{% if option == variable[1].default %} selected{% endif %}>{{ option }}</option>
                      {% endfor %}
                    </select>
                  {% else %}
                    <input id="servers-{{ forloop.index }}-variables-{{ variable[0] }}" type="text" class="form-control" value="{{ variable[1].default }}" placeholder="{{ variable[0] }}">
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          </fieldset>
        </div>
      {% endif %}
    {% endfor %}
  </form>
{% endif %}


{% for path in api.paths %}
  {% for method in path[1] %}
    <div class="card">
      <div class="card-body">
        {% assign http_method = method[0] | upcase %}
        {% include method.html method=http_method %} {{ path[0] }}
      </div>
    </div>
  {% endfor %}
{% endfor %}
