---
layout: null
---

<pre>
{%- assign api = site.data.openapi -%}

{%- if api.components.schemas -%}
  {%- for schema in api.components.schemas -%}
    {% include json_schema.html schema=schema %}<hr>
  {%- endfor -%}
{%- endif -%}
</pre>

<pre>
array		    []
binary
boolean		  true
byte        "YmFzZTY0IGVuY29kZWQgY2hhcmFjdGVycw=="
date        "{{ 'now' | date: '%F' }}"
date-time   "{{ 'now' | date: '%FT%TZ' }}"
double
email       "email@example.com"
float       1.23
int32       2147483647
int64       18446744073709551615
null        null
number      123
object      {}
password    "****************"
string      "string"
uuid        "2bb422f4-0376-4a64-a9ce-f0f28ea0cb55"
</pre>




{% comment %}
---
layout: null
---

{%- assign api = site.data.openapi -%}

{%- include_relative jquery.min.js -%}
{%- include_relative popper.min.js -%}
{%- include_relative bootstrap.min.js -%}
{%- include_relative prism.min.js -%}

$(function() {
  {%- if api.components.schemas -%}
    {%- for schema in api.components.schemas -%}
      var {{ schema[0] }} = {% include json_schema.html schema=schema %};
      console.log({{- schema[0] -}});
      $("[data-ref='{{- schema[0] -}}']").html(JSON.stringify({{- schema[0] -}}, null, '  '));
    {%- endfor -%}
  {%- endif -%}
  Prism.highlightAll();
});
{% endcomment %}