---
layout: null
---
{% assign api = site.data.openapi %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if api.info.description %}<meta name="description" content="{{ api.info.description | xml_escape }}">{% endif %}
    <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ api.info.title }}</title>
  </head>
  <body class="m-5">
    {% for schema in api.components.schemas %}
      <h5>{{ schema[0] }}</h5>
      <pre class="border rounded bg-black text-white p-4" id="{{ schema[0] }}"></pre>
    {% endfor %}
    <script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>
    <script>
      {% for schema in api.components.schemas %}
        {% assign type = schema[1].type %}
        {% assign properties = schema[1].properties %}
        var {{ schema[0] }} = {% include json.html type=type properties=properties %};
        console.log({{ schema[0] }});
        $("#{{ schema[0] }}").html(JSON.stringify({{ schema[0] }}, null, '  '));
      {% endfor %}
    </script>
  </body>
</html>
