{%- if include.schema.type -%}
  {%- if include.schema.type == 'array' or include.schema.type == 'object' -%}
    {%- if include.schema.type == 'array' -%}
      [
    {%- else -%}
      {
    {%- endif -%}
    {%- for property in include.schema.properties -%}
      {%- assign type = property[1].type -%}
      {%- assign properties = property[1].properties -%}
      "{{- property[0] -}}":
      {%- if type == 'array' or type == 'object' -%}
        {%- include json_schema.html schema=property -%}
      {%- else -%}
        "{{- type -}}"
      {%- endif -%}
      {%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
    {%- if include.schema.type == 'array' -%}
      ]
    {%- else -%}
      }
    {%- endif -%}
  {%- endif -%}
{%- endif -%}
{%- if include.schema.first[0] == '$ref' -%}
  {%- assign parts = include.schema.first[1] | split: '/' -%}
  {%- for schema in api.components.schemas -%}
    {%- if schema[0] == parts.last -%}
      {%- assign the_schema = schema[1] -%}
      {%- include json_schema.html schema=the_schema -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}