{% assign include_method = include.method | upcase %}
{% case include_method %}
  {% when 'DELETE' %}
    {% assign color = 'danger' %}
  {% when 'GET' %}
    {% assign color = 'primary' %}
  {% when 'HEAD' %}
    {% assign color = 'dark' %}
  {% when 'PATCH' %}
    {% assign color = 'info' %}
  {% when 'POST' %}
    {% assign color = 'success' %}
  {% when 'PUT' %}
    {% assign color = 'warning' %}
  {% else %}
    {% assign color = 'secondary' %}
{% endcase %}
<span class="badge badge-{{ color }}">{{ include_method }}</span>
