<div class="border rounded mb-3">
  <table class="table table-striped m-0">
    <tbody>
      {% for parameter in include..parameters %}
        {% if parameter.in == include.in %}
          <tr>
            <td>{{ parameter.name }}</td>
            <td>{{ parameter.description }}</td>
            <td class="text-right">
              {% if parameter.required %}
                <span class="badge badge-danger">Required</span>
              {% endif %}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
