{%- assign request_body = include.request_body -%}
<pre class="code border rounded bg-light p-3">
  {%- for content in request_body.content -%}
    {%- assign content_type = content[0] -%}
    <span class="d-block">Content-Type: {{ content_type }}</span>
    {%- assign schema = content[1].schema -%}
    {%- assign slice = content_type | slice: -4, 4 | downcase -%}
    <code class="d-block mt-3">
      {%- if slice == 'json' -%}
        {%- include json_schema.html schema=schema -%}
      {%- else -%}
        {{- schema -}}
      {%- endif -%}
    </code>
  {%- endfor -%}
</pre>