{%- assign response_status_code = include.response[0] -%}
<pre class="max-vh-50 bg-black text-light m-0 p-4"><span class="d-block">{{ response_status_code | capitalize }} {% include utils/response_status_code.html response_status_code=response_status_code %}</span>
  {%- for content in include.response[1].content -%}
    <span class="d-block">Content-Type: {{ content[0] }}</span>
    {%- assign schema = content[1].schema -%}
    {%- assign slice = content[0] | slice: -4, 4 | downcase -%}
    <code class="response language-json d-block mt-3">
      {%- if slice == 'json' -%}
        {%- include schema.html schema=schema -%}
      {%- else -%}
        {{- schema -}}
      {%- endif -%}
    </code>
  {%- endfor -%}
</pre>