---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

$navbar-height: $navbar-brand-height + ($navbar-brand-padding-y * 2) + ($navbar-padding-y * 2) !default;
$offset-top: $navbar-height + map-get($spacers, 4) !default;

nav {
  padding-top: $offset-top;
  padding-bottom: map-get($spacers, 4);
}

.bg-black {
  background-color: $gray-900 !important;
}

.code {
  max-height: 20rem;
}

.navbar {
  z-index: 9999;
}

.offset-top {
  margin-top: -($offset-top);
  padding-top: $offset-top;
}

.token.operator,
.token.punctuation {
  color: $light;
}

.token.property {
  color: $danger;
}

.token.string {
  color: $success;
}
