---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

$navbar-height: $navbar-brand-height + ($navbar-brand-padding-y * 2) + ($navbar-padding-y * 2) !default;
$top-offset: $navbar-height + map-get($spacers, 4) !default;

nav {
  padding-top: $top-offset;
  padding-bottom: map-get($spacers, 4);
}

.bg-black {
  background-color: $gray-900 !important;
}

.code {
  max-height: 20rem;
}

.navbar {
  z-index: 9999;
}

.offset {
  margin-top: -($top-offset);
  padding-top: $top-offset;
}
