{% assign api = site.data.openapi %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if api.info.description %}<meta name="description" content="{{ api.info.description | xml_escape }}">{% endif %}
    <link rel="shortcut icon" href="{{ '/favicon.ico' | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
    <title>{{ api.info.title }}</title>
  </head>
  <body class="m-3">
    <div class="container-fluid">
      {{ content }}
    </div>
    <script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>
  </body>
</html>
